.header {
  background-image: url("../src/assets/hapkifini1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 130vh;
}

h1 {
  color: #2a2926;
}

@media (max-width: 999px) {
  .header {
    background-image: none;
  }
}
