li {
  list-style-type: none;
}

img {
  width: 100px;
  height: 100px;
}

.nav {
  background-color: black;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
  position: sticky;
  top: 0px;
}

.link {
  color: white;
  text-decoration: none;
}

.nav ul {
  display: flex;
}

.nav li:hover {
  background-color: #555;
}
.active {
  color: #777;
  text-decoration: underline;
}
