li {
  list-style-type: none;
}

img {
  width: 100px;
  height: 100px;
}

.nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
}

.nav ul {
  display: flex;
}

.nav li:hover {
  background-color: #555;
}
.active {
  color: #777;
}
